include ../mixins/random.pug

mixin rule()
  article.rule
    .content
      h2 Title
      +paragraphs(1)
    .sample
      .a-b.a: .messenger
        span.in Hi
        span.out Hi! How are you?
        span.in
          | Fine!
          | Thanks for asking.
          br
          br
          | How are you?
        span.out
          | 👍
      .a-b.b: .messenger
        span.in Hi
        span.out Hi! How are you?
        span.in
          | Fine!
          | Thanks for asking.
          br
          br
          | How are you?
        span.out
          | 👍

doctype html
html(lang="ru-RU")
  head
    title Text Better
    meta(
        http-equiv="Content-Type"
        content="text/html; charset=utf=8"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap&subset=cyrillic")
    link(rel="shorcut icon" href="favicon.ico")
    link(rel="stylesheet" href="index.css")

  body
    nav.header
      span.menu-icon: include ../static/icons/menu.svg
      h1.flex--center Text Better
      button.btn.menu-icon(
        onClick="document.body.classList.toggle('dark')"
      )
        include ../static/icons/sun.svg
      a.menu-icon(href="#"): include ../static/icons/question-circle.svg

    main.rules-list
      +rule()
      .wave: include ../static/waves/wave1.svg
      +rule()
